    input[type='radio']:after {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: 1%;
        margin-left: 42%;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: 1%;
        margin-left: 42%;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }