@model SportProject.Models.Courses

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <div class="row">

        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src=@Url.Content(Model.SiteUrl) asp-append-version="true" alt="">
        </div>
        <div class="col-md-5">
            <h3>@Html.DisplayFor(model => model.CourseName)</h3>
            <p>@Html.DisplayFor(model => model.InfoCourse)</p>
        </div>
    </div>
    <!-- /.row -->
    <div class="top-margin">
        <div class="row">
        </div>
    </div>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> <br />
            <a asp-action="Delete"  asp-route-id="@Model.CourseId">Delete</a><br />
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
