<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a  asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
        <li class="active">Kampanyalar</li>
    </ol>
    <div class="top-margin">
        <div class="row">
            <!-- Article main content -->
                <header class="page-header">
                    <h1 class="page-title">Kampanyalar</h1>
                </header>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <a href="https://www.instagram.com/karinnahoteluludag/"><img src="~/images/karinnahotel.png" alt=""></a>
                                <div>
                                    <h4>
                                        <a href="https://www.instagram.com/karinnahoteluludag/">Karinna Hotel Snowboard Dersi</a>
                                    </h4>
                                    <p>Yalnızca Ekstrem Sport üyelerine özel Karinna Otel işbirlikli çekiliş! Karinna otel instagram sayfasında kışa özel snowboard dersi çekilişi! Bir kişiye snowboard dersi hediye. <b> Bu fırsatı kaçırmayın! </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <a href="https://www.aktivido.com/tr-tr/yamac-parasutu/alanyada-tandem-yamac-parasutu-ucusu--185"><img src="~/images/aktivido.png" alt=""></a>
                                <div>
                                    <h4>
                                        <a href="https://www.aktivido.com/tr-tr/yamac-parasutu/alanyada-tandem-yamac-parasutu-ucusu--185">Alanya Tandem Yamaç Paraşütü</a>
                                    </h4>
                                    <p>Yalnızca Ekstrem Sport ve Aktivido üyelerine özel Aktivido işbirliği ile Antalya Tandem Yamaç Paraşütünde inanılmaz fırsat. Her 5 kişilik rezervasyonda Alanya mini tur hediye!<b> Bu fırsatı kaçırmayın! </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <a href="https://alphaschoolmalta.com/tr/20.html"><img src="~/images/alphaschool.png" alt=""></a>
                                <div>
                                    <h4>
                                        <a href="https://alphaschoolmalta.com/tr/20.html">Alpha School Ekstrem Macera Kursu </a>
                                    </h4>
                                    <p>Yalnızca Ekstrem Sport üyelerine özel Alpha School'dan 5 günlük ekstrem macera kursu satın almanızda dilediğiniz 1 kurs 3 günlük süre için hediye. <b> Bu fırsatı kaçırmayın! </b> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <a href="https://www.friendscamps.com/wakeboard-kampi"><img src="~/images/friends.png" alt=""></a>
                                <div>
                                    <h4>
                                        <a href="https://www.friendscamps.com/wakeboard-kampi">Friends Wakeboard Kampı</a>
                                    </h4>
                                    <p>Yalnızca Ekstrem Sport üyelerine özel Friends Wakeboard Kampına üye olanların gezilerdeki ulaşım ve transferleri ücretsiz. Üstelik 5 kişi ve üzeri kayıtlarda yaz kamplarında özel indirimler uygulanmaktadır! <b> Bu fırsatı kaçırmayın! </b> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>


    <div class="top-margin">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <a href="https://www.nehirevi.com/#home"><img src="~/images/nehirevi.png" alt=""></a>
                            <div>
                                <h4>
                                    <a href="https://www.nehirevi.com/#home">Nehirevi Rafting</a>
                                </h4>
                                <h5><del>160 ₺</del> 112 ₺ </h5>
                                <p>Yalnızca Ekstrem Sport üyelerine özel Nehirevi Rafting Öğrenci Rafting Paketi %30 indirimli. Ayrıca Nehirevi kamp etkinliklerinde inanılmaz fırsatlar!<b> Bu fırsatı kaçırmayın! </b> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <a href="https://www.aquaclub.net/tr/dalgiclik-kurslari-ankara/temel-dalgiclik-kursu"><img src="~/images/aquaclub.png" alt=""></a>
                            <div>
                                <h4>
                                    <a href="https://www.aquaclub.net/tr/dalgiclik-kurslari-ankara/temel-dalgiclik-kursu">Aqua Club Dalış Kursu</a>
                                </h4>
                                <h5><del>400 ₺</del> 320 ₺</h5>
                                <p>Yalnızca Ekstrem Sport üyelerine özel Aqua Club Dalış Kursu'nda %20 indirim. Teorik çalışmaya kaydolan üyelerin PADI Open Water Diver Lisansında %20 indirim! <b> Bu fırsatı kaçırmayın! </b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <a href="https://www.forestkemerburgaz.com/"><img src="~/images/forestkemerburgaz.png" alt=""></a>
                            <div>
                                <h4>
                                    <a href="https://www.forestkemerburgaz.com/">Forest Kemerburgaz Zipline</a>
                                </h4>
                                <h5><del>125 ₺</del> 118,75 ₺</h5>
                                <p>Yalnızca Ekstrem Sport üyelerine özel Forest Kemerburgaz'da Sılver Genç ve Yetişkin paketi alana ATV Safari aktivite %5 indirimli! <b> Bu fırsatı kaçırmayın! </b> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron top-space">
            <h4>Sizin kursunuz da görüntülensin mi istiyorsunuz? Bizimle iletişime geçin!</h4>
            <p class="text-right"><a asp-controller="Home" asp-action="iletisim" class="btn btn-primary btn-large">İletişime geç »</a></p>
        </div>

    </div>
</div>	