<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="main.html">Ana Sayfa</a></li>
        <li class="active">İletişim</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">Bizimle İletişime Geçin</h1>
            </header>

            <p>
                Görüşlerinizi önemsiyoruz. Belirtmek istediğiniz bir şey varsa lütfen bizimle iletişime geçin.
            </p>
            <br>
            <form data-parsley-validate="true" method="POST">
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" name="first_name" id="first_name" type="text" placeholder="Adınız" required>

                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" name="last_name" id="last_name" type="text" placeholder="Soyadınız" required>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" id="input-mail" autocapitalize="none" type="email" placeholder="Mail" required data-parsley-errors-container="#nxm-nws-error">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="tel" placeholder="Telefon Numarası (05________)" pattern="[0][5][0-9]{9}" required>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea placeholder="Mesajınızı buraya yazınız..." required class="form-control" rows="9"></textarea>
                    </div>
                </div>
                <div id="nxm-nws-error"></div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox">
                            <input type="checkbox" data-parsley-required="true" required data-parsley-error-message="L&#252;tfen kuralları okuyup onaylayın">
                            Etkinliklerden ve kampanyalardan haberdar olmak istiyorum.
                            <a href-target='_blank' asp-controller="Home" asp-action="Privacy">Gizlilik Kuralları</a> ’nda belirtilen şartlar uyarınca Ekstrem Sport ve iş ortakları tarafından sunulan ürün, hizmet ve fırsatlar ile ilgili olarak seçmiş olduğum iletişim kanalları üzerinden benimle iletişime geçilmesine, iletişim bilgilerimin Ekstrem Sport tarafından bu amaçla kullanılmasına izin veriyorum.
                        </label>
                    </div>

                    <div class="col-sm-6 text-right">
                        <input class="btn btn-action" type="submit" value="Gönder">
                    </div>
                </div>
            </form>

        </article>
        <!-- /Article -->
        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">

            <div class="widget">
                <h4>Adres</h4>
                <address>
                    Ofisimize bekleriz<br>
                    Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi,<br>
                    54187 Sakarya<br>
                    Türkiye
                </address>
                <h4>Telefon:</h4>
                <address>
                    (0156) 7145111541
                </address>
                <h4>Çalışma saatleri: </h4>
                <address>
                    Cuma	08:00–23:00
                </address>
                <address>
                    Cumartesi	08:00–23:00
                </address>
                <address>
                    Pazar	Kapalı
                </address>
                <address>
                    Pazartesi	08:00–23:00
                </address>
                <address>
                    Salı	08:00–23:00
                </address>
                <address>
                    Çarşamba	08:00–23:00
                </address>
                <address>
                    Perşembe	08:00–23:00
                </address>
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>	<!-- /container -->



<section class="container-full top-space">
    <div id="map"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.908582361124!2d30.330542315726674!3d40.74203704371364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1607607235156!5m2!1str!2str"
            style="width:100%;height:400px"></iframe>
</section>