@{
    ViewData["Title"] = "Home Page";
}

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">SPOR, SAĞLIK, YAŞAM</h1>
                <p class="tagline">SPOR KURSLARI: Spor hakkında her şey by <a href="main.html">Ekstrem Sport</a></p>

            </div>
        </div>
    </header>
    <!-- /Header -->
    <!-- Intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">Spor kurslarına bugün başla.</h2>
        <p class="text-muted">
            Binlerce çeşit spor ve spor kursu ile aralarından kendine en uygun olanı bul.
        </p>
    </div>
    <!-- /Intro-->
    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Spor yapmanın hayatımıza katkıları</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Spor yapmanın beyin sağlığına pozitif etkisi vardır.</h4></div>
                    <div class="h-body text-center">
                        <p>Bunun en önemli nedeni, egzersizin beyin kan (ve dolayısıyla oksijen) beslemesini güçlendirmesidir. Bu da düşünmek için gereken enerjiyi sağlar. Aynı zamanda nöronların büyümesini teşvik edebilir ve belki de beynin genel sağlığı için çok önemli olan belirli nörotransmitterlerin ve büyüme hormonlarının salınımını artırabilir. Tüm bunlar daha iyi konsantrasyon, zeka ve hafızaya katkıda bulunur.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fiziksel performansınızı geliştirir.</h4></div>
                    <div class="h-body text-center">
                        <p> Spor yapmak iştahı düzenler, aşırı kiloların oluşmasının önüne geçer ve vücuttaki yağ oranını azaltarak kas oranını arttırır. Vücudun dik durma kabiliyetini geliştirir ve dayanıklılığı arttırır. Düzenli beslenme ile birleştiğinde kemik gelişimine önemli katkıda bulunur. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Sağlınız için spor gereklidir.</h4></div>
                    <div class="h-body text-center">
                        <p>Düzenli yapacağımız spor aktivitesi kalp damar sistemimiz üzerinde olumlu yönde büyük rol oynamaktadır. Kalp, kas yapısı sisteminde olduğu için kasılma düzeyini maksimize etmek ve böylelikle tüm organizmamıza iyi bir dağılımla kan pompalayabilmek için sportif aktivitelerden vazgeçmemeliyiz. Diğer taraftan yapacağımız fiziksel aktivite kalp damar hastalıkları risk faktörüne karşı iyi bir silah olacaktır; arteriyel hiper tansiyonu minumum seviyede tutar, aterosikleroza karşı iyi bir ilaçtır. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Stresle başa çıkmanıza yardımcı olur.</h4></div>
                    <div class="h-body text-center">
                        <p>Günlük yaşantının içerisinde pek çok olumsuz durum ve yaşamsal zorluk bireylerin stres kaynaklarını oluşturmaktadır. Yapılan çalışmalar sonucunda stresi azaltmak, insanın iyi olma halini artırmak ve sağlıklı olmak için önerilerin başında düzenli fiziksel aktivite gelmektedir. Bedensel ve ruhsal sağlığın korunması için düzenli yapılan aktivite ve egzersizlerin önemi gün geçtikçe artmaktadır.   </p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>
    <!-- /Highlights -->
    <!-- container -->
    <div class="container">

        <h2 class="text-center top-space">Sıkça Sorulan Sorular</h2>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <h3>Nedir Ne Değildir Ne?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
            </div>
            <div class="col-sm-6">
                <h3>Burda da bir soru var mutlaka?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                </p>
            </div>
        </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Peki şey şeyken şey mi?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Baya zeki kızlarsınız galiba?</h3>
                <p>Yes</p>
            </div>
        </div> <!-- /row -->

        <div class="jumbotron top-space">
            <h4>Ekstrem Sport'a özel kampanyalar ve kaçırılmayacak fırsatlar hakkında daha fazlasını öğren! Çeşitli kurslarda %50'ye varan indirimleri ve erken kayıtlara özel fırsatları kaçırma!</h4>
            <p class="text-right"><a href="kampanyalar.html" class="btn btn-primary btn-large">Tümünü görüntüle »</a></p>
        </div>

    </div>
